<html>

<body style="
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 0;
      padding: 0;
    ">
    <header>
        <h2 style="text-align: center;">Hola, {{NEW_USERNAME}}.</h2>
        <img src="cid:{{D_BO_LOGO}}" style="
            width: 50%;
            margin: auto;
            display: block;
            max-width: 300px;
        " />
    </header>
    <main style="padding: 2em;">
        <p>
            Este correo se le envía para informarle que su nombre de usuario de D-Bo ha cambiado de {{OLD_USERNAME}} a
            {{NEW_USERNAME}}.
        </p>
        <p>
            Su antiguo nombre de usuario ({{OLD_USERNAME}}) ya no se puede usar para ingresar a tu cuenta - tendrá que
            usar la nueva o su dirección de correo electrónico.
        </p>
        <p>
            El nombre de usuario {{OLD_USERNAME}} volvió a estar disponible, y cualquier otra cuenta ya puede
            reclamarselo.
        </p>
        <p>
            Debido a que sus credenciales de acceso han sido modificadas, todas sus sesiones actuales se han terminado.
            Si estaba conectad**o/a/e** en algún otro dispositivo, tendrá que ingresar de nuevo.
        </p>
        <hr style="margin: 2em 0;" />
        <p>
            Si usted no realizó esta acción, por favor ingrese a tu cuenta tan pronto como le sea posible y cambie su
            contraseña.
        </p>
        <div style="margin: 2em auto;">
            <img src="cid:{{BIGDEVDOG_LOGO}}" style="
            margin: 1em auto;
            width: 85%;
            max-width: 500px;
            display: block;
        " />
            <small style="text-align: center; display: block;">
                D-Bo es un producto de
                <a href="https://bigdevdog.com" target="_blank" rel="noreferrer">BigDevDog</a>, un estudio de desarrollo
                independiente.
            </small>
        </div>
    </main>
    <hr style="margin: 2em 0;" />
    <footer style="padding: 1em 2em;">
        <small>
            Por favor, no responda a este correo, porque este buzón no se supervisa. Para asistencia adicional,
            contáctese con el desarrollador Devin Peevy en
            <a href="mailto:devin@bigdevdog.com">devin@bigdevdog.com</a>.
        </small>
    </footer>
</body>

</html>