<html>

<body style="
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 0;
      padding: 0;
    ">
    <header>
        <h2 style="text-align: center;">Hello, {{USERNAME}}.</h2>
        <img src="cid:{{D_BO_LOGO}}" style="
            width: 50%;
            margin: auto;
            display: block;
            max-width: 300px;
        " />
    </header>
    <main style="padding: 2em;">
        <p>
            This email is being sent to inform you that your password on D-Bo has been changed.
        </p>
        <p>
            Your old password will no longer be valid to log in with - you must use the new password.
        </p>
        <p>
            Due to your login credentials having been updated, all current sessions have been terminated. Any device
            which was previously signed in to your account will now require you to log in again.
        </p>
        <hr style="margin: 2em 0;" />
        <p>
            If this was not you, click the following button to securely reset your password
        </p>
        <a href="{{FRONTEND_URL}}/reset-password/{{PLAYER_ID}}/{{UNDO_TOKEN_ID}}?lang=en" target="_blank"
            rel="noreferrer" style="text-decoration: none;">
            <div style="
                background: lightblue;
                padding: 1em 2em;
                width: fit-content;
                font-weight: bold;
                border-radius: 1em;
                margin: auto;
                text-align: center;
            ">
                Reset your password
            </div>
        </a>
        <p><b>Note</b>: This link is only good for 24 hours. Act quickly in order to keep your account secure.
        </p>
        <div style="margin: 2em auto;">
            <img src="cid:{{BIGDEVDOG_LOGO}}" style="
            margin: 1em auto;
            width: 85%;
            max-width: 500px;
            display: block;
        " />
            <small style="text-align: center; display: block;">
                D-Bo is a product of
                <a href="https://bigdevdog.com" target="_blank" rel="noreferrer">BigDevDog</a>, an independent
                development studio.
            </small>
        </div>
    </main>
    <hr style="margin: 2em 0;" />
    <footer style="padding: 1em 2em;">
        <small>
            Please do not reply to this email, as this mailbox is not monitored. For assistance, contact developer Devin
            Peevy at
            <a href="mailto:devin@bigdevdog.com">devin@bigdevdog.com</a>.
        </small>
    </footer>
</body>

</html>