<html>

<body style="
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 0;
      padding: 0;
    ">
    <header>
        <h2 style="text-align: center">Welcome to D-Bo, {{USERNAME}}!</h2>
    </header>
    <main style="padding: 2em">
        <p>
            D-Bo is a digital board game platform where you can play online with
            friends! You are receiving this email because you recently signed up for
            an account.
        </p>
        <p>Complete your account verification by clicking the button:</p>
        <a href="{{FRONTEND_URL}}/confirm-email?token_id={{TOKEN_ID}}" target="_blank" rel="noreferrer"
            style="text-decoration: none">
            <div style="
            background: lightblue;
            padding: 1em 2em;
            width: fit-content;
            font-weight: bold;
            border-radius: 1em;
            margin: auto;
          ">
                Confirm your email
            </div>
        </a>
        <small style="text-align: center; display: block; margin-top: 2em">
            D-Bo is a product of
            <a href="https://bigdevdog.com" target="_blank" rel="noreferrer">BigDevDog</a>, an independent development
            company.
        </small>
    </main>
    <hr />
    <footer style="padding: 1em 2em">
        <small>
            Please do not reply to this email, as this mailbox is not monitored. For
            assistance, contact developer Devin Peevy at
            <a href="mailto:devin.peevy@outlook.com">devin.peevy@outlook.com</a>.
        </small>
        <br />
        <br />
        <small>
            Received this email by mistake?
            <a href="{{FRONTEND_URL}}/reject-email?token_id={{TOKEN_ID}}" target="_blank" rel="noreferrer">
                Click here
            </a>
            to remove any information from our database.
        </small>
    </footer>
</body>

</html>