@import 'tailwindcss';

@font-face {
  font-family: 'vt323';
  src: url('assets/fonts/vt323/VT323-Regular.ttf') format('truetype');
}

@theme {
  --font-vt323: 'vt323', monospace;

  --color-primary: #1c1c1c;
  --color-secondary: #2a2a2a;
  --color-border: #d0d0d0;
  --color-fg-1: #f4f4f4;
  --color-fg-2: #ffffff;
  --color-positive: #40ac3e;
  --color-negative: #ac3e3e;
  --color-accent-1: #583eac;
  --color-accent-2: #8e4585;
}

@layer base {
  h1 {
    @apply py-4 text-center text-4xl;
  }

  h2 {
    @apply py-3 text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply text-xl;
  }

  input[type='text'],
  input[type='password'],
  textarea {
    @apply focus:border-accent-1 bg-primary border-fg-1 w-full resize-none rounded-md border px-3 py-2 text-xl tracking-wide focus:outline-none;
  }
}
